/**
Stylesheet for Screen Flow forms on the Portal site ( partner, unum )
Fonts are loaded by rippl-defaults.css in github page. No need to load them again here.
**/

.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element span p strong {
  color: #f73c36 !important;
  font-size: 22px !important;
  font-family: "Lora" !important;
}
/* .rightSection .PortalFormFlowDiv .flowruntimeBody .field-element  .slds-text-color_error span p span {
color:#f73c36 !important;
font-family: "Montserrat"-Medium !important;
} */
.rightSection .PortalFormFlowDiv .flowruntimeBody {
  padding: 30px 40px 0px 40px;
}
.rightSection .PortalFormFlowDiv .slds-card__footer {
  padding: 0px 10px 60px 32px;
}
.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element .slds-form-element__control .slds-radio {
  padding-bottom: 15px;
}
.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element {
  color: #333333;
  font-family: "Montserrat";
  font-weight: 600;
}

.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element .flowruntime-inline-container .flowruntime-inline span {
  font-family: "Montserrat", sans-serif;
}
.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element .flowruntime-inline-container .flowruntime-inline .slds-form-element__label {
  margin-top: -10px;
}
.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element .container .slds-rich-text-editor__output {
  font-family: "Montserrat", sans-serif;
  font-size: 14px !important;
}
.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element .container .slds-rich-text-editor__output span p {
  font-size: 14px !important;
  font-family: "Lora", sans-serif;
  font-style: italic;
}
.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element .slds-form-element__control .slds-radio .slds-radio__label .slds-form-element__label {
  font-family: "Montserrat" !important;
  color: #333;
  font-size: 13px !important;
}

.rightSection .PortalFormFlowDiv .slds-card__footer .footerContainer .slds-button {
  background-color: #f73c36;
  border-radius: 30px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  /* padding: 5px 16px; */
}
.rightSection .PortalFormFlowDiv .slds-card__footer .footerContainer .slds-button:hover {
  background-color: #f73c36;
  border-radius: 30px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  /* padding: 5px 16px; */
}
.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element .container {
  margin: 0;
}
.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element .slds-form-element {
  margin-bottom: 25px;
  margin-top: 13px;
}
.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element .slds-form-element__label {
  font-family: "Montserrat" !important;
  font-weight: 600;
  color: #333;
  font-size: 13px !important;
}
.rightSection .PortalFormFlowDiv .slds-card__footer .footerContainer {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
.rightSection .PortalFormFlowDiv .navigationBar {
  border: none;
}
.rightSection .PortalFormFlowDiv flowruntime-flow {
  border-radius: 0px 0px 30px 30px;
}
.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element .slds-has-error .slds-form-element__help,
.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element .errorContent span {
  color: #f73c36;
  font-family: "" Montserrat "";
  font-weight: 500;
}
.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element .flowruntime-input .slds-input {
  box-shadow: none;
  border-bottom: 2px solid #8a8da8;
  border-radius: 0px;
  background: none;
  color: #202140;
  font-size: 20px;
  font-family: "Lora";
}

.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element .flowruntime-input .slds-select_container .slds-select {
  padding: 0px 10px;
}
.rightSection .PortalFormFlowDiv .flowruntimeBody .helptext__popup {
  font-family: "Montserrat", sans-serif;
}

.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element .flowruntime-input .slds-input:focus-visible,
.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element .flowruntime-input .slds-input:active {
  box-shadow: none;
  border-bottom: 2px solid #f73c36;
  border-radius: 0px;
  background: none;
  color: #202140;
  font-size: 20px;
  font-family: "Lora";
}
.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element .slds-form-element .slds-input {
  box-shadow: none;
  border-bottom: 2px solid #8a8da8;
  border-radius: 0px;
  background: none;
  color: #202140;
  font-size: 20px;
  font-family: "Lora";
}
.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element .slds-form-element .slds-input:focus-visible,
.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element .slds-form-element .slds-input:active {
  box-shadow: none;
  border-bottom: 2px solid #f73c36;
  border-radius: 0px;
  background: none;
  color: #202140;
  font-size: 20px;
  font-family: "Lora";
}
.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element .slds-form-element .slds-textarea {
  box-shadow: none;
  border: none;
  border-bottom: 2px solid #8a8da8;
  border-radius: 0px;
  background: none;
  color: #202140;
  font-size: 20px;
  font-family: "Lora";
}
.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element .slds-form-element .slds-textarea:focus-visible,
.rightSection .PortalFormFlowDiv .flowruntimeBody .field-element .slds-form-element .slds-input:active {
  box-shadow: none;
  border: none;
  border-bottom: 2px solid #f73c36;
  border-radius: 0px;
  background: none;
  color: #202140;
  font-size: 20px;
  font-family: "Lora";
}
